<% if resource.errors.any? %>
  <div data-controller="toast" class="toast error-toast" data-turbo-cache="false">
    <ul style="list-style: none;">
      <% resource.errors.full_messages.each do |message| %>
        <li>
            <p><%= message + '.' %></p>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
